@{
    ViewData["Title"] = "Source Code";
}
<h1>@ViewData["Title"]</h1>

<p>
    You can download the source code for this application from GitHub at the following URL:<br />

    <a href="https://github.com/webcentralpa/WeatherForecast-Demo" target="_blank">https://github.com/webcentralpa/WeatherForecast-Demo</a>
</p>
